.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em;
}

.topicos__titulo {
    font-weight: 300;
    color: white;
    margin: 0.5em 0 1.5em 0;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.topicos__lista__item {
    background-color: var(--laranja);
    padding: 1em;
}

.topicos__item__lista__link {
    text-decoration: none;
    color: var(--branco);
    font-size: 14px;
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .topicos {
        padding: 32px 140px;
    }
    
    .topicos__titulo {
        font-size: 24px;
    }

    .topicos__item__lista__link {
        font-size: 24px;
    }

    .topicos__lista__item:hover {
        background-color: var(--branco);
    }

    .topicos__item__lista__link:hover {
        color: var(--laranja);
        background-color: var(--branco);
    }
}

@media screen and (min-width: 1728px) {
    .topicos {
        padding: 3em 30vw;
    }

    .topicos__titulo {
        font-size: 32px;
    }
}